body {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.post {
  max-width: 100%;
  width: 700px;
}
img {
  max-height: 320px;
  max-width: 100%;
}
iframe {
  max-width: 100%;
}
