$black: rgb(10, 10, 20);
$dark-gray: rgb(50, 50, 60);
$gray: rgb(80, 80, 90);
$light-gray: rgb(225, 225, 220);
$white: rgb(250, 250, 250);

$heading-color: #005454;
$link-color: #005454;
$link-color-hover: #2AAAAA;
$green: #007500;


@mixin box-shadow($shadow) {
    -moz-box-shadow: $shadow;
    -webkit-box-shadow: $shadow;
    box-shadow: $shadow;
}

@mixin transform($transform) {
    -moz-transform: $transform;
   -ms-transform: $transform;
   -o-transform: $transform;
   -webkit-transform: $transform;
}

@mixin transition($transition) {
    -moz-transition: $transition;
    -ms-transition: $transition;
    -o-transition: $transition;
    -webkit-transition: $transition;
    transition: $transition;
}

@mixin transition-delay($delay) {
   -moz-transition-delay: $delay;
   -ms-transition-delay: $delay;
   -o-transition-delay: $delay;
   -webkit-transition-delay: $delay;
}

@mixin def-box-shadow() {
    @include box-shadow(0 0 2px $gray);
}

