@import "_lib.scss";

#album {
    margin-top: 1.1em;
    a {
        margin-bottom: 3px;
        img {
            cursor: pointer;
            height: 210px;
            margin: 3px;
            margin-top: 0;
            width: auto;
        }
    }
    img:hover {
        @include def-box-shadow();
    }
}

#arrow-down {
    display: block;
    height: 0;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    border-top: 30px solid $green;
    opacity: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3px;
    width: 0;
}

img {
    &.expand {
        cursor: pointer;
    }
    &.expanded {
        @include def-box-shadow();
        @include transform(scale(1.2));
        @include transition(all .05s linear);
        border: 7px solid $light-gray;
        cursor: pointer;
        z-index: 9;
    }
}

.overlay {
    display: none;
    height: 100%;
    position: relative;
    width: 100%;

    &:hover {
        cursor: pointer;
    }
    .overlay-bg {
        background-color: $black;
        bottom: 0;
        filter: alpha(opacity = 70);
        left: 0;
        height: 100%;
        margin: auto;
        opacity: .7;
        position: fixed;
        right: 0;
        top: 0;
        width: 100%;
        z-index: 10;
    }
    .overlay-img {
        @include def-box-shadow();
        border: 7px solid $light-gray;
        bottom: 0;
        left: 0;
        position: fixed;
        margin: auto;
        max-height: 85%;
        max-width: 85%;
        right: 0;
        top: 0;
        z-index: 11;

        &:hover {
            cursor: pointer;
        }
    }
    .prev, .next {
        background: $gray;
        border: 1px solid $dark-gray;
        border-radius: 50px;
        bottom: 0;
        height: 50px;
        margin: auto;
        position: fixed;
        text-align: center;
        top: 0;
        width: 50px;
        z-index: 12;

        &:hover {
            @include box-shadow(0 0 1px 3px $light-gray);
        }
        span {
            color: $light-gray;
            position: relative;
            font-size: 32px;
            font-weight: bold;
            top: 5px;
        }
    }
    .prev {
        left: 1%;

        span {
            right: 1px;
        }
    }
    .next {
        right: 1%;

        span {
            left: 1px;
        }
    }
}

@media screen and (max-device-width: 768px) {
    .overlay {
        .overlay-img {
            bottom: 55px;
        }
        div.prev, div.next {
            border-radius: 0;
            bottom: 0 ;
            height: 50px;
            margin: 0;
            top: auto;
            width: 50%;

            &:hover {
                z-index: 13;
            }
            span {
                color: $light-gray;
                position: relative;
                font-size: 32px;
                font-weight: bold;
            }
        }
        .prev {
            left: 0;
        }
        .next {
            right: 0;
        }
    }
}
