#album {
  margin-top: 1.1em; }
  #album a img {
    cursor: pointer;
    height: 210px;
    margin: 3px;
    margin-top: 0px;
    width: auto; }
  #album img:hover {
    box-shadow: 0 0 5px 2px #888;
    -moz-box-shadow: 0 0 5px 2px #888;
    -webkit-box-shadow: 0 0 5px 2px #888; }

.arrow-down {
  display: block;
  height: 0;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  border-top: 30px solid #005454;
  opacity: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3px;
  width: 0; }

#rowSpinner {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3px; }

img.expand {
  cursor: pointer; }
img.expanded {
  cursor: pointer;
  border-color: #EEEEE6;
  border-style: solid;
  border-width: 7px;
  box-shadow: 0 0 5px 2px #888;
  -moz-box-shadow: 0 0 5px 2px #888;
  -webkit-box-shadow: 0 0 5px 2px #888;
  z-index: 9; }

.overlay {
  background-color: #000;
  filter: alpha(opacity=70);
  left: 0px;
  height: 100%;
  opacity: .7;
  position: absolute;
  width: 100%;
  z-index: 10; }

.overlay-img {
  box-shadow: 0 0 5px 2px #666;
  z-index: 11;
  border-color: #EEEEE6;
  border-style: solid;
  border-width: 7px;
  left: 15.5%;
  position: absolute;
  -moz-box-shadow: 0 0 5px 2px #666;
  -webkit-box-shadow: 0 0 5px 2px #666; }
