@import "globals.scss";


html, body {
    background: url("../img/textures/satinweave.png") repeat scroll 0 0 transparent;
    font-family: 'Open Sans Pro', sans-serif;
    height: 100%;
    margin: 4px 0 0;
    text-align: justify;
}

#wrap {
    @include box-shadow(0 1px 2px $light-gray);
    background: url("../img/textures/cream_dust.png") repeat scroll 0 0 transparent;
    border-radius: 3px;
    margin: 0 auto;
    padding: 4px 39px 0 39px;
    width: 940px;
}


h1, h2, h3, h4, h5, #logo {
    font-family: 'Gentium Book Basic', serif;
    margin: 0;
}

a, .main a:hover {
    @include transition(all .2s);
    font-weight: bold;
}

span p a {
    font-weight: normal;
}

strong {
    color: $gray;
}

hr {
    border-color: rgb(220, 220, 220);
}

.main {
    padding-bottom: 350px;
    .header-group {
        margin-bottom: 39px;
        h1, h2 {
            color: $dark-green;
        }
        h1 {
            margin-bottom: 0;
        }
    }
    p, span {
        font-size: 16px;
        margin: 0;
        line-height: 36px;
        color: rgb(65, 75, 65);
    }
    li, ol {
        font-size: 17px;
        line-height: 32px;
        list-style: square;
        color: rgb(95, 105, 95);
    }
    a {
        color: $dark-green;
        font-weight: bold;
        text-decoration: none;
        &:hover {
          color: $light-green;
        }
    }
    hr {
        margin-bottom: 13px;
    }

}


#header {
    height: 78px;
    position: relative;
    margin-bottom: 39px;
    hr {
        margin-bottom: 6px;
        margin-top: 12px;
    }
}

.logos {
    position: absolute;
    left: 0;
    top: 10px;
    #logo {
        font-size: 36px;
        font-weight: bold;
        a {
            color: $dark-green;
            text-decoration: none;
            &:hover {
              color: $light-green;
            }
        }
    }

    #sublogo {
        color: $gray;
        font-size: 14px;
    }
}

#navigation {
    position: absolute;
    font: 16px 'Gentium Book Basic', serif;
    right: 0;
    top: 20px;
    a {
        color: $dark-gray;
        margin-left: 26px;
        text-decoration: none;
        position: relative;
        vertical-align: middle;
        top: 0;
        @include transition(top .3s);
        &:hover {
            top: 13px;
        }
    }
    span {
        background: none;
        border-radius: 8px;
        padding: 64px 16px 16px 16px;
        @include transition(background .4s);
        &:hover, &.current-nav {
            background: url("../img/textures/billie_holiday.png") repeat scroll 0 0 transparent;
        }
    }
    hr {
        clear: both;
    }
}

span.metadata {
    color: $gray;
    font-size: 14px;
    font-weight: bold;
    line-height: 6px;
    position: relative;
    top: 6px;
}

.base-image {
    img {
        @include def-box-shadow();
        max-height: 480px;
        margin: 0 auto 52px auto;
    }
    span {
        font-size: 13px;
        font-style: italic;
    }
}

.pagination {
    font-size: 14px;
    margin-bottom: 39px;
}

#sliding-all a {
    color: $black;
    font-weight: normal;
}
.sliding-index {
    min-height: 1250px;
    max-height: 1250px;
}

#footer {
    /* Overrides sticky-footer */
    background: url("../img/textures/billie_holiday.png") repeat scroll 0 0 transparent;
    font-size: 14px;
    line-height: 28px;
    height: 115px;
    margin-top: -100px;
    min-width: 960px;
    padding-top: 26px;
    text-align: center;
    a {
        color: $dark-green;
        text-decoration: none;
        &:hover {
          color: $light-green;
        }
    }
}

a.btn {
    background: $green;
    border-radius: 5px;
    bottom: 0;
    color: $white;
    font-weight: normal;
    margin-right: 5px;
    padding: 3px 8px;
    text-decoration: none;
    @include transition(.5s .1s);
    &:hover {
        background: lighten($green, 5%);
        font-weight: normal;
        color: $white;
        cursor: pointer;
    }
    &:active {
        background: darken($green, 10%);
        @include transition(.03s 0s);
    }
}

.c:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.c {
    display: inline-block;
}

html[xmlns] .c {
    display: block;
}

* html .c {
    height: 1%;
}
