html, body {
  background: url("../img/textures/body-bg.png") repeat scroll 0 0 transparent;
  font-family: Georgia, Palatino, 'Palatino Linotype', Times, 'Times New Roman', "Hiragino Sans GB", "STXihei", "微软雅黑", serif;
  height: 100%;
  margin: 4px 0 0;
  text-align: justify; }

#wrap {
  -moz-box-shadow: 0 1px 2px #e1e1dc;
  -webkit-box-shadow: 0 1px 2px #e1e1dc;
  box-shadow: 0 1px 2px #e1e1dc;
  background: url("../img/textures/main-bg.png") repeat scroll 0 0 transparent;
  border-radius: 3px;
  margin: 0 auto;
  padding: 4px 3% 0;
  width: 940px; }

@media all and (min-width: 62.5em) {
  #wrap {
    padding: 4px 2% 0; } }
h1, h2, h3, h4, h5, #logo {
  color: #0a0a14;
  margin: 0; }

h1, #logo {
  font-family: 'Gentium Book Basic', serif; }

h2, h3, h4, h5 {
  font-weight: normal; }

h2 {
  font-size: 22px; }

a, .main a:hover {
  -moz-transition: color 0.2s;
  -ms-transition: color 0.2s;
  -o-transition: color 0.2s;
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
  font-weight: bold; }

span p a {
  font-weight: normal; }

strong {
  color: #50505a; }

hr {
  border-color: gainsboro; }

.main pre span {
  font-family: monospace;
  font-size: 14px;
  line-height: 24px; }

code {
  background: #f2f2f2;
  border: 1px solid #e1e1dc;
  border-radius: 1px;
  font-family: monospace;
  font-size: 14px;
  padding: 0 4px; }

.main {
  padding-bottom: 350px; }
  .main .header-group {
    margin-bottom: 26px; }
    .main .header-group h1, .main .header-group h2 {
      color: #005454; }
    .main .header-group h1 {
      margin-bottom: 0; }
  .main p, .main span {
    color: #0d0d1b;
    font-size: 16px;
    line-height: 34px;
    margin: 0; }
  .main li, .main ol {
    color: #131325;
    font-size: 16px;
    line-height: 34px; }
  .main a {
    color: #005454;
    font-weight: bold;
    text-decoration: none; }
    .main a:hover {
      color: #2aaaaa; }
  .main hr {
    margin-bottom: 13px; }

#header {
  height: 78px;
  position: relative;
  margin-bottom: 39px; }
  #header hr {
    margin-bottom: 6px;
    margin-top: 12px; }

.logos {
  position: absolute;
  left: 0;
  top: 10px; }
  .logos #logo {
    font-size: 36px;
    font-weight: bold; }
    .logos #logo a {
      color: #005454;
      text-decoration: none; }
      .logos #logo a:hover {
        color: #2aaaaa; }
    .logos #logo .social {
      margin-left: 2px; }
      .logos #logo .social a {
        color: #e1e1dc;
        margin: 0 2px; }
        .logos #logo .social a:hover {
          color: #50505a; }
      .logos #logo .social i {
        font-size: 23px; }
  .logos #sublogo {
    color: #50505a;
    font-size: 14px; }

#navigation {
  position: absolute;
  font: 16px 'Gentium Book Basic', serif;
  right: 0;
  top: 20px; }
  #navigation a {
    color: #32323c;
    margin-left: 26px;
    text-decoration: none;
    position: relative;
    vertical-align: middle;
    top: 0;
    -moz-transition: top 0.3s;
    -ms-transition: top 0.3s;
    -o-transition: top 0.3s;
    -webkit-transition: top 0.3s;
    transition: top 0.3s; }
    #navigation a:hover {
      top: 13px; }
  #navigation span {
    background: none;
    border-radius: 8px;
    padding: 64px 16px 16px 16px;
    -moz-transition: background 0.4s;
    -ms-transition: background 0.4s;
    -o-transition: background 0.4s;
    -webkit-transition: background 0.4s;
    transition: background 0.4s; }
    #navigation span:hover, #navigation span.current-nav {
      background: url("../img/textures/accent.png") repeat scroll 0 0 transparent; }
  #navigation hr {
    clear: both; }

span.metadata {
  color: #50505a;
  display: block;
  font-size: 14px;
  font-weight: bold;
  line-height: 6px;
  position: relative;
  top: 6px; }

.base-image img {
  -moz-box-shadow: 0 0 2px #50505a;
  -webkit-box-shadow: 0 0 2px #50505a;
  box-shadow: 0 0 2px #50505a;
  max-height: 480px;
  max-width: 100%;
  margin: 0 auto 52px auto; }
.base-image span {
  font-size: 13px;
  font-style: italic; }

.pagination {
  font-size: 14px;
  margin-bottom: 39px; }

#sliding-all a {
  color: #0a0a14;
  font-weight: normal; }

#sliding-next-page, #sliding-prev-page {
  -moz-transition: background 0.5s;
  -ms-transition: background 0.5s;
  -o-transition: background 0.5s;
  -webkit-transition: background 0.5s;
  transition: background 0.5s; }
  #sliding-next-page:not(disabled), #sliding-prev-page:not(disabled) {
    background: #e1e1dc; }
    #sliding-next-page:not(disabled):hover, #sliding-prev-page:not(disabled):hover {
      background: #007500; }
  #sliding-next-page[disabled='disabled'], #sliding-prev-page[disabled='disabled'] {
    background: #007500;
    cursor: default; }

.sliding-index {
  min-height: 1250px; }

a.btn {
  background: #007500;
  border-radius: 3px;
  bottom: 0;
  color: #fafafa;
  font-weight: normal;
  margin-right: 5px;
  padding: 3px 8px;
  text-decoration: none;
  -moz-transition: background 0.5s 0.1s;
  -ms-transition: background 0.5s 0.1s;
  -o-transition: background 0.5s 0.1s;
  -webkit-transition: background 0.5s 0.1s;
  transition: background 0.5s 0.1s; }
  a.btn:hover {
    background: #008f00;
    font-weight: normal;
    color: #fafafa;
    cursor: pointer; }
  a.btn:active {
    background: #004200;
    -moz-transition: background 0.03s 0s;
    -ms-transition: background 0.03s 0s;
    -o-transition: background 0.03s 0s;
    -webkit-transition: background 0.03s 0s;
    transition: background 0.03s 0s; }

#footer {
  /* Overrides sticky-footer */
  background: url("../img/textures/accent.png") repeat scroll 0 0 transparent;
  font-size: 14px;
  line-height: 28px;
  height: 115px;
  margin-top: -100px;
  min-width: 100%;
  padding-top: 26px;
  text-align: center; }
  #footer a {
    color: #005454;
    text-decoration: none; }
    #footer a:hover {
      color: #2aaaaa; }
  #footer .social {
    margin-left: 6px;
    position: relative;
    top: 1px; }
    #footer .social a {
      margin-right: 4px; }
    #footer .social i {
      font-size: 16px; }

.c:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0; }

.c {
  display: inline-block; }

html[xmlns] .c {
  display: block; }

* html .c {
  height: 1%; }

/* Social share buttons */
.addthis_button_tweet {
  position: relative;
  right: 10px; }

#top-share {
  position: relative;
  top: 19px;
  right: 2px; }

#bottom-share {
  position: relative;
  margin-top: 39px;
  right: 2px; }

#disqus_thread {
  margin-top: 13px; }
