@import "_lib";
@import "typeplate.scss";


html, body {
    background: url("../img/textures/body-bg.png") repeat scroll 0 0 transparent;
    height: 100%;
    margin: 4px 0 0;
}

#wrap {
    @include box-shadow(0 1px 2px $light-gray);
    background: url("../img/textures/main-bg.png") repeat scroll 0 0 transparent;
    border-radius: 3px;
    margin: 0 auto;
    padding: 4px 5% 0;
    width: 770px;
}

@media all and (min-width: 62.5em) {
    #wrap {
        padding: 4px 2% 0;
    }
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 500;
    margin: 0;
}

a {
    @include transition(color .2s);
    color: $link-color;
    text-decoration: none;

    &:hover {
        color: $link-color-hover;
    }
}
p a,
span a,
li a, {
    color: $link-color-hover;
}

hr {
    border-color: $light-gray;
    margin-bottom: 13px;
}

code {
    background: darken($white, 3%);
    border: 1px solid $light-gray;
    border-radius: 1px;
    padding: 0 4px;
}

.metadata, #sublogo, .blog-tags {
    font-family: $header-font-family;
}

.main {
    padding-bottom: 350px;

    .header-group {
        margin-bottom: 26px;

        p {
            margin-bottom: 0;
        }
    }
}

header {
    height: 78px;
    margin-bottom: 39px;
    position: relative;
}

.logos {
    position: absolute;
    top: 10px;

    .social {
        margin-left: 2px;

        a {
            color: $light-gray;
            margin: 0 1px;
            &:hover {
                color: $gray;
            }
        }
        i {
            font-size: 23px;
        }
    }
    #logo {
        font-weight: 400;

        strong {
            font-weight: 700;
        }
    }
    #sublogo {
        color: $gray;
        font-size: 14px;
    }
}

.blog-tags {
    bottom: 10px;
    margin: 0;
    padding: 0;
    position: relative;

    li {
        display: inline;
        font-size: 14px;
        list-style: none;

        &:not(:last-child):after {
            content: "";
            background: $black;
            border-radius: 2px;
            bottom: 3px;
            display: inline-block;
            left: 2px;
            margin-right: 3px;
            position: relative;
            height: 2px;
            width: 2px;
        }
    }
    a.active {
        text-decoration: underline;
    }
}

nav {
    font-size: 14px;
    position: absolute;
    right: 0;
    top: 20px;

    a {
        @include transition(top .3s);
        color: $body-copy-color;
        font-weight: bold;
        margin-left: 5px;
        position: relative;
        text-decoration: none;
        top: 0;
        vertical-align: middle;

        &:hover {
            color: $black;
            top: 13px;
        }
    }
    span {
        background: none;
        border-radius: 8px;
        padding: 64px 16px 16px 16px;
        @include transition(background .4s);

        &:hover, &.active {
            background: url("../img/textures/accent.png") repeat scroll 0 0 transparent;
        }
    }
}


.base-image {
    img {
        @include def-box-shadow();
        border-radius: 1px;
        max-height: 480px;
        max-width: 100%;
        margin: 0 auto 52px auto;
    }
    span {
        font-size: 14px;
        font-style: italic;
    }
}

.pagination {
    .prev {
        float: left;
    }
    .next {
        float: right;
    }
}

#sliding-next-page, #sliding-prev-page {
    @include transition(background .5s);

    &:not(disabled) {
        background: $light-gray;

        &:hover {
            background: $btn-color;
        }
    }
    &[disabled='disabled'] {
        background: $btn-color;
        cursor: default;
    }
}
.sliding-index {
    min-height: 1250px;
}

a.btn {
    @include transition(background .5s .1s);
    background: $btn-color;
    border-radius: 3px;
    bottom: 0;
    color: $white;
    font-weight: normal;
    margin-right: 5px;
    padding: 3px 8px;
    text-decoration: none;

    &:hover {
        background: lighten($btn-color, 5%);
        font-weight: normal;
        color: $white;
        cursor: pointer;
    }
    &:active {
        @include transition(background .03s 0s);
        background: darken($btn-color, 10%);
    }
}

 #footer {
    /* Overrides sticky-footer */
    background: url("../img/textures/accent.png") repeat scroll 0 0 transparent;
    height: 115px;
    margin-top: -100px;
    min-width: 100%;
    padding-top: 26px;
    text-align: center;

    a {
        margin-right: 8px;
    }
    i {
        @extend .alpha;
    }
}

.c:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}
.c {
    display: inline-block;
}
html[xmlns] .c {
    display: block;
}
* html .c {
    height: 1%;
}

/* Social share buttons */
#top-share {
    position: relative;
    right: 2px;

    > a {
        margin-right: 2px;
    }
    iframe {
        border: 0;
    }
}
#bottom-share {
    position: relative;
    margin-top: 39px;
    right: 2px;
}
#disqus_thread {
    margin-top: 13px;
}

#gallery div.album-preview {
    margin-right: 36px;
}
.overlay div.prev,
.overlay div.next {
    background: $dark-gray;
    bottom: 3px;
    top: 0;

    span {
        top: -3px;
    }
}
