html, body {
  background-color: #F9FAFA;
  font-family: 'Source Sans Pro', sans-serif;
  height: 100%;
  padding: 0;
  text-align: justify; }

#wrap {
  margin: 0 auto;
  width: 940px; }

h1, h2, h3, h4, h5, #logo {
  font-family: 'Gentium Book Basic', serif;
  margin: 0; }

a, .main a:hover {
  transition: all .2s;
  font-weight: bold; }

span p a {
  font-weight: normal; }

strong {
  color: #50505a; }

hr {
  border-color: #dcdcdc; }

.main {
  padding-bottom: 350px; }
  .main .header-group {
    margin-bottom: 26px; }
    .main .header-group h1 {
      margin-bottom: 0; }
  .main p, .main span {
    font-size: 17px;
    margin: 0;
    line-height: 32px;
    color: #414b41; }
  .main li, .main ol {
    font-size: 17px;
    line-height: 32px;
    list-style: square;
    color: #5f695f; }
  .main a {
    color: #005454;
    text-decoration: none; }
    .main a:hover {
      color: #2AAAAA; }
  .main hr {
    margin-bottom: 13px; }

#header {
  height: 78px;
  position: relative;
  margin-bottom: 26px; }
  #header hr {
    margin-bottom: 6px;
    margin-top: 12px; }

.logos {
  position: absolute;
  left: 0;
  top: 10px; }
  .logos #logo {
    font-size: 36px;
    font-weight: bold; }
    .logos #logo a {
      color: #005454;
      text-decoration: none; }
      .logos #logo a:hover {
        color: #2AAAAA; }
  .logos #sublogo {
    color: grey;
    font-size: 15px; }

#navigation {
  position: absolute;
  font-size: 14px;
  right: 0;
  top: 20px; }
  #navigation a {
    margin-left: 6px;
    text-decoration: none;
    vertical-align: middle; }
    #navigation a:hover {
      color: #2AAAAA; }
  #navigation span {
    border-radius: 8px;
    color: #0A0A0A;
    padding: 32px 16px 16px 16px;
    transition: all .2s; }
    #navigation span:hover, #navigation span.current-nav {
      background: #DDDDD3; }
  #navigation hr {
    clear: both; }

span.metadata {
  color: #808080;
  font-size: 13px;
  font-weight: bold;
  line-height: 6px;
  position: relative;
  top: 4px; }

.base-image img {
  margin-bottom: 5px;
  max-height: 480px; }
.base-image span {
  font-size: 13px;
  font-style: italic; }

.page_pic {
  margin-bottom: 20px; }
  .page_pic img {
    display: block;
    max-width: 100%; }
  .page_pic.right {
    float: right;
    margin-left: 20px;
    text-align: right; }
  .page_pic.left {
    float: left;
    margin-right: 20px;
    text-align: left; }
  .page_pic.top {
    text-align: right; }
    .page_pic.top img {
      margin-bottom: 5px; }
  .page_pic img {
    margin-top: 5px;
    display: block; }

#sliding-all a {
  color: black;
  font-weight: normal; }

.sliding-index {
  min-height: 1250px;
  max-height: 1250px; }

#footer {
  /* Overrides sticky-footer */
  background: #c8c8c8;
  font-size: 14px;
  line-height: 40px;
  height: 115px;
  margin-top: -100px;
  min-width: 960px;
  padding-top: 15px;
  text-align: center; }
  #footer a {
    color: #005454;
    text-decoration: none; }
    #footer a:hover {
      color: #2AAAAA; }

a.btn {
  background: #007500;
  border-radius: 5px;
  bottom: 0;
  color: #fafafa;
  font-weight: normal;
  margin-right: 5px;
  padding: 3px 8px;
  text-decoration: none;
  transition: .5s .1s; }
  a.btn:hover {
    background: #008f00;
    font-weight: normal;
    color: #fafafa;
    cursor: pointer; }
  a.btn:active {
    background: #004200;
    transition: .03s 0s; }

.c:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0; }

.c {
  display: inline-block; }

html[xmlns] .c {
  display: block; }

* html .c {
  height: 1%; }
