html, body {
  background-color: #eeeeee;
  font-family: 'Gentium Book Basic', serif;
  height: 100%;
  margin: 0;
  padding: 0; }

hr {
  border-color: gainsboro; }

a, .main a:hover {
  font-weight: bold; }

h1, h2, h3, h4, h5, #logo {
  font-family: 'Source Sans Pro', sans-serif; }

.main h1 {
  font-size: 1.75em;
  line-height: 1.75em; }
.main h2 {
  font-size: 1.45em;
  line-height: 1.45em; }
.main h3 {
  font-size: 1.25em;
  line-height: 1.25em; }
.main p, .main span {
  font-size: 17px;
  line-height: 32px;
  color: #414b41; }
.main li, .main ol {
  font-size: 17px;
  line-height: 32px;
  color: #5f695f; }

.container {
  min-height: 100%;
  position: relative; }

#footer {
  /* Overrides sticky-footer */
  background: #c8c8c8;
  height: 115px;
  margin-top: -100px;
  min-width: 960px;
  padding-top: 15px;
  text-align: center; }
  #footer a {
    color: #005454;
    text-decoration: none; }
    #footer a:hover {
      color: #2AAAAA; }

#header {
  margin-top: 1.2em; }
  #header hr {
    margin-bottom: .5em;
    margin-top: 0em; }

#logo {
  font-size: 2.3em;
  font-weight: bold; }
  #logo a {
    color: #005454;
    text-decoration: none; }
    #logo a:hover {
      color: #2AAAAA; }

#sublogo {
  color: grey;
  line-height: 2.5em; }

.main {
  padding-bottom: 350px;
  padding-top: 10px; }
  .main a {
    color: #005454;
    text-decoration: none; }
    .main a:hover {
      color: #2AAAAA; }
  .main hr {
    margin-bottom: 1em; }

#navigation a {
  margin-left: .5em;
  text-decoration: none;
  vertical-align: middle; }
  #navigation a:hover {
    color: #2AAAAA; }
#navigation span {
  border-radius: 8px;
  color: black;
  padding: 1.1em;
  padding-left: 1.6em;
  padding-right: 1.6em;
  padding-top: 1.8em; }
  #navigation span:hover {
    background: #DDDDD3; }

#current_nav span {
  background: #DDDDD3;
  border-radius: 8px;
  padding: 1.1em;
  padding-left: 1.6em;
  padding-right: 1.6em;
  padding-top: 1.6em; }

p#metadata {
  color: #808080;
  font-size: 1.03em;
  line-height: 1.0em;
  margin-bottom: 2em;
  font-weight: bold; }

.base-image img {
  margin-bottom: 5px;
  max-height: 480px; }
.base-image span {
  font-size: .9em;
  font-style: italic; }

.page li {
  list-style: square; }

h1#page-header {
  display: inline;
  line-height: 1.2em; }

.page_pic {
  margin-bottom: 20px; }
  .page_pic img {
    display: block;
    max-width: 100%; }
  .page_pic.right {
    float: right;
    margin-left: 20px;
    text-align: right; }
  .page_pic.left {
    float: left;
    margin-right: 20px;
    text-align: left; }
  .page_pic.top {
    text-align: right; }
    .page_pic.top img {
      margin-bottom: 5px; }
  .page_pic img {
    margin-top: 5px;
    display: block; }

.sliding-index {
  min-height: 1250px;
  max-height: 1250px; }

#sliding-all a {
  color: black;
  font-weight: normal; }
