html, body {
  background: url("../img/textures/satinweave.png") repeat scroll 0 0 transparent;
  font-family: "Open Sans Pro", sans-serif;
  height: 100%;
  margin: 4px 0 0;
  text-align: justify; }

#wrap {
  -moz-box-shadow: 0 1px 2px #ddddd3;
  -webkit-box-shadow: 0 1px 2px #ddddd3;
  box-shadow: 0 1px 2px #ddddd3;
  background: url("../img/textures/cream_dust.png") repeat scroll 0 0 transparent;
  border-radius: 3px;
  margin: 0 auto;
  padding: 4px 3% 0;
  width: 940px; }

h1, h2, h3, h4, h5, #logo {
  font-family: "Gentium Book Basic", serif;
  margin: 0; }

a, .main a:hover {
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  font-weight: bold; }

span p a {
  font-weight: normal; }

strong {
  color: #50505a; }

hr {
  border-color: gainsboro; }

.main {
  padding-bottom: 350px; }
  .main .header-group {
    margin-bottom: 39px; }
    .main .header-group h1, .main .header-group h2 {
      color: #005454; }
    .main .header-group h1 {
      margin-bottom: 0; }
  .main p, .main span {
    font-size: 16px;
    margin: 0;
    line-height: 36px;
    color: #0d0d1b; }
  .main li, .main ol {
    font-size: 17px;
    line-height: 32px;
    list-style: square;
    color: #5f695f; }
  .main a {
    color: #005454;
    font-weight: bold;
    text-decoration: none; }
    .main a:hover {
      color: #2aaaaa; }
  .main hr {
    margin-bottom: 13px; }

#header {
  height: 78px;
  position: relative;
  margin-bottom: 39px; }
  #header hr {
    margin-bottom: 6px;
    margin-top: 12px; }

.logos {
  position: absolute;
  left: 0;
  top: 10px; }
  .logos #logo {
    font-size: 36px;
    font-weight: bold; }
    .logos #logo a {
      color: #005454;
      text-decoration: none; }
      .logos #logo a:hover {
        color: #2aaaaa; }
  .logos #sublogo {
    color: #50505a;
    font-size: 14px; }

#navigation {
  position: absolute;
  font: 16px "Gentium Book Basic", serif;
  right: 0;
  top: 20px; }
  #navigation a {
    color: #32323c;
    margin-left: 26px;
    text-decoration: none;
    position: relative;
    vertical-align: middle;
    top: 0;
    -moz-transition: top 0.3s;
    -ms-transition: top 0.3s;
    -o-transition: top 0.3s;
    -webkit-transition: top 0.3s;
    transition: top 0.3s; }
    #navigation a:hover {
      top: 13px; }
  #navigation span {
    background: none;
    border-radius: 8px;
    padding: 64px 16px 16px 16px;
    -moz-transition: background 0.4s;
    -ms-transition: background 0.4s;
    -o-transition: background 0.4s;
    -webkit-transition: background 0.4s;
    transition: background 0.4s; }
    #navigation span:hover, #navigation span.current-nav {
      background: url("../img/textures/billie_holiday.png") repeat scroll 0 0 transparent; }
  #navigation hr {
    clear: both; }

span.metadata {
  color: #50505a;
  font-size: 14px;
  font-weight: bold;
  line-height: 6px;
  position: relative;
  top: 6px; }

.base-image img {
  -moz-box-shadow: 0 0 2px #50505a;
  -webkit-box-shadow: 0 0 2px #50505a;
  box-shadow: 0 0 2px #50505a;
  max-height: 480px;
  max-width: 100%;
  margin: 0 auto 52px auto; }
.base-image span {
  font-size: 13px;
  font-style: italic; }

.pagination {
  font-size: 14px;
  margin-bottom: 39px; }

#sliding-all a {
  color: #0a0a14;
  font-weight: normal; }

.sliding-index {
  min-height: 1250px;
  max-height: 1250px; }

#footer {
  /* Overrides sticky-footer */
  background: url("../img/textures/billie_holiday.png") repeat scroll 0 0 transparent;
  font-size: 14px;
  line-height: 28px;
  height: 115px;
  margin-top: -100px;
  min-width: 100%;
  padding-top: 26px;
  text-align: center; }
  #footer a {
    color: #005454;
    text-decoration: none; }
    #footer a:hover {
      color: #2aaaaa; }

a.btn {
  background: #007500;
  border-radius: 3px;
  bottom: 0;
  color: #fafafa;
  font-weight: normal;
  margin-right: 5px;
  padding: 3px 8px;
  text-decoration: none;
  -moz-transition: 0.5s 0.1s;
  -ms-transition: 0.5s 0.1s;
  -o-transition: 0.5s 0.1s;
  -webkit-transition: 0.5s 0.1s;
  transition: 0.5s 0.1s; }
  a.btn:hover {
    background: #008f00;
    font-weight: normal;
    color: #fafafa;
    cursor: pointer; }
  a.btn:active {
    background: #004200;
    -moz-transition: 0.03s 0s;
    -ms-transition: 0.03s 0s;
    -o-transition: 0.03s 0s;
    -webkit-transition: 0.03s 0s;
    transition: 0.03s 0s; }

.c:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0; }

.c {
  display: inline-block; }

html[xmlns] .c {
  display: block; }

* html .c {
  height: 1%; }

.addthis_button_tweet {
  position: relative;
  right: 10px; }

#top-share {
  position: relative;
  top: 19px;
  right: 2px; }

#bottom-share {
  position: relative;
  margin-top: 39px;
  right: 2px; }

#disqus_thread {
  margin-top: 13px; }
