h1 {
  color: #005454; }

.blog h2, .blog h3, .blog h4 {
  display: block;
  font-style: underline;
  margin-bottom: 16px;
  margin-top: 16px; }

img {
  -moz-box-shadow: 2px 2px 4px #888888;
  -webkit-box-shadow: 2px 2px 4px #888888;
  box-shadow: 2px 2px 4px #888888;
  display: block;
  max-width: 100%; }
