@import "globals.scss";
h1#page-header {
    color: #005454;
}

.blog {
    margin-top: 25px;
    h2, h3, h4 {
      display: block;
      font-style: underline;
      margin-bottom: 1em;
      margin-top: 16px;
    }
}

p#metadata {
    margin-bottom: 1.5em;
}

img {
    @include img-box-shadow();
    display: block;
    max-width: 100%;
}
