@import "globals.scss";


.view {
    @include def-box-shadow();
    background: url("http://subtlepatterns.subtlepatterns.netdna-cdn.com/patterns/cream_dust.png") repeat scroll 0% 0% transparent;
    border: 7px solid $light-gray;
    float: left;
    height: 205px;
    overflow: hidden;
    position: relative;
    text-align: center;
    width: 205px;
    &:not(:last-child) {
        margin-right: 21px;
    }
    i {
        @include transition(all .1s linear);
        color: $black;
        font-size: 128px;
        display: block;
        margin: 0 auto;
        position: relative;
        top: 56px;
    }
    &:hover i {
        @include transform(scale(1.15));
    }
}

.mask {
    background-color: rgba(0, 90, 0, 0.8);
    height: 205px;
    left: 0;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 205px;
    h3 {
        @include transform(translateY(-100px));
        @include transition(all .3s linear);
        background: rgba(0, 0, 0, 0.8);
        color: $white;
        padding: 10px;
        opacity: 0;
    }
    p {
        @include transform(scale(10));
        @include transition(all .2s linear);
        color: $white;
        font-size: 13px;
        font-style: italic;
        opacity: 0;
        padding: 15px 5px 15px 5px;
    }
    a.info {
        @include box-shadow(0 0 1px #000);
        @include transform(scale(10));
        @include transition(all .25s linear);
        background: $black;
        bottom: 8%;
        color: $white;
        font-size: 14px;
        left: 5%;
        opacity: 0;
        padding: 5px;
        position: absolute;
        right: 5%;
        top: 78%;
    }
    &:hover {
        @include transition(opacity .2s linear);
        opacity: 100;
        h3, p, a {
            @include transform(translateX(0px));
            @include transform(translateY(0px));
            @include transform(scale(1));
            opacity: 100;
        }
        h3 {
            @include transition-delay(.3s);
        }
        p, a {
            @include transition-delay(.1s);
        }
    }
}
