#gallery {
  margin-top: 1.1em; }
  #gallery a {
    -moz-box-shadow: 3px 3px 5px #888888;
    -webkit-box-shadow: 3px 3px 5px #888888;
    box-shadow: 3px 3px 5px #888888;
    background-color: #EEEEE6;
    border-color: #DDDDD3;
    border-style: double;
    border-width: 7px;
    cursor: pointer;
    float: left;
    height: 210px;
    margin-right: 10px;
    overflow: hidden;
    position: relative;
    width: 210px;
    z-index: 1; }
    #gallery a img {
      float: left;
      position: absolute; }
  #gallery img:hover {
    -moz-opacity: .75;
    filter: alpha(opacity=75);
    opacity: .75; }
  #gallery h3 span {
    background: black;
    /* fallback color */
    background: rgba(0, 0, 0, 0.7);
    bottom: 60px;
    color: white;
    font: bold 16px/37px Helvetica, Sans-Serif;
    left: 7px;
    letter-spacing: -1px;
    padding: 10px;
    position: relative;
    z-index: 1001; }
