@import "globals.scss";


.list-view {
    .item {
        margin-bottom: 52px;
    }
    .heading {
        margin-top: 13px;
    }
    .title {
        text-align: left;
    }
    .preview {
        h1, h2, h3, img, pre, code {
            display: none;
        }
        p:last-child {
            display: inline;
        }
        li {
            clear: both;
        }
    }
    .recent-blogs {
        display: inline;
        margin-right: 10px;
    }
    .more-link {
        font-size: 14px;
        font-weight: bold;
        left: 6px;
        position: relative;
    }
    form {
        display: inline-block;
        margin-bottom: 13px;
    }
    img {
        @include def-box-shadow();
        float: left;
        margin: 10px 20px 20px 0;
        max-width: 210px;
        max-height: 210px;
    }
    hr {
        clear: both;
        margin-top: 26px;
    }
}
