.list-view .item {
  margin-bottom: 52px; }
.list-view .preview h1, .list-view .preview h2, .list-view .preview h3, .list-view .preview img, .list-view .preview pre, .list-view .preview code, .list-view .preview .demo {
  display: none; }
.list-view .preview li {
  clear: both; }
.list-view .preview p:last-child {
  display: inline; }
.list-view img {
  -moz-box-shadow: 0 0 1px #32323c;
  -webkit-box-shadow: 0 0 1px #32323c;
  box-shadow: 0 0 1px #32323c;
  float: left;
  margin: 10px 20px 10px 0;
  max-height: 240px;
  max-width: 240px; }
.list-view hr {
  clear: both;
  margin-top: 26px; }
