.list-view .heading {
  margin-top: 13px; }
.list-view img {
  -moz-box-shadow: 2px 2px 4px #888888;
  -webkit-box-shadow: 2px 2px 4px #888888;
  box-shadow: 2px 2px 4px #888888;
  float: left;
  margin: 10px 20px 20px 0;
  max-width: 210px;
  max-height: 210px; }
.list-view .preview h1, .list-view .preview h2, .list-view .preview h3, .list-view .preview img, .list-view .preview pre, .list-view .preview code {
  display: none; }
.list-view .preview li {
  clear: both; }
.list-view hr {
  clear: both;
  margin-top: 26px; }
