@import "globals.scss";

.list-view {
    .heading {
        margin-top: 13px;
    }

    img {
        @include img-box-shadow();
        float: left;
        margin: 10px 20px 20px 0;
        max-width: 210px;
        max-height: 210px;
    }
    .preview {
        h1, h2, h3, img, pre, code {
            display: none;
        }
        li {
            clear: both;
        }
    }
    hr {
        clear: both;
        margin-top: 26px;
    }
}
