@import "globals.scss";

@media all and (max-width: 62.5em) {
    // 1000px.
    #contact {
        .mask, h3, p, a {
            opacity: 1;
            @include transform(none);
        }
        .view {
            display: block;
            float: none;
            margin: 52px auto;
            @include transform(scale(1.1));
        }
    }
}

@media all and (max-width: 61.25em) {
    // 980px.
    #wrap {
        margin: 0 auto;
        width: 90%;
        .page_pic {
            float: none;
            margin-left: 0;
            text-align: right;
            img {
                margin: 52px auto;
            }
        }
    }
}

@media all and (max-width: 48em) {
    // 768px.
    #header {
        margin-bottom: 78px;
        .logos {
            position: static;
            text-align: center;
        }
        #navigation {
            position: static;
            padding-top: 26px;
            text-align: center;
            a {
                @include transition(background .2s);
                background: $light-gray;
                border-radius: 3px;
                margin: 0 2px;
                padding: 13px 7px;
                &:hover {
                    background: darken($light-gray, 10%);
                    top: 0;
                }
                span {
                    padding: 0;
                    &:hover {
                        background: none;
                    }
                    &.current-nav {
                        background: none;
                    }
                }
            }
        }
    }
    #wrap .list-view {
        .title {
            text-align: center;
        }
        .metadata {
            display: block;
            text-align: center;
        }
        .item .preview {
            clear: left;
        }
        img {
            max-height: 100%;
            max-width: 100%;
        }
        h3.recent-blogs {
            display: block;
            text-align: center;
        }
        a.btn[href="#"] {
            display: inline-block;
            margin: 6px 0 0 0;
            padding: 7px 0;
            text-align: center;
            width: 49%;
        }
    }
    .main {
        p, li {
            text-align: left;
        }
        pre span {
            font-size: 13px;
            line-height: 26px;
        }
    }
    ul, ol {
        padding-left: 16px;
    }
    .blog {
        h1, .metadata {
            text-align: center;
        }
    }
}
