@import "globals.scss";

@media only screen and (max-width: 1000px) {
    #contact {
        .mask, h3, p, a {
            opacity: 1;
            transform: none;
        }
        .view {
            display: block;
            float: none;
            margin: 52px auto;
            transform: scale(1.1);
        }
    }
}

@media only screen and (max-width: 980px) {
    #wrap {
        margin: 0 auto;
        width: 90%;
        .page_pic {
            float: none;
            margin-left: 0;
            text-align: right;
            img {
                margin: 52px auto;
            }
        }
        .item img {
            float: none;
        }
    }
    .main {
        padding-bottom: 38em;
    }
}

@media only screen and (max-width: 768px) {
    #header {
        margin-bottom: 78px;
        .logos {
            position: static;
            text-align: center;
        }
        #navigation {
            position: static;
            padding-top: 26px;
            text-align: center;
            a {
                background: $light-gray;
                margin: 0 2px;
                padding: 13px 7px;
                &:hover {
                    background: darken($light-gray, 10%);
                    top: 0;
                }
                span {
                    padding: 0;
                    &:hover {
                        background: none;
                    }
                    &.current-nav {
                        background: none;
                    }
                }
            }
        }
    }
}