@media all and (max-width: 62.5em) {
  #contact .mask, #contact h3, #contact p, #contact a {
    opacity: 1;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    -webkit-transform: none; }
  #contact .view {
    display: block;
    float: none;
    margin: 52px auto;
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    -webkit-transform: scale(1.1); } }
@media all and (max-width: 61.25em) {
  #wrap {
    margin: 0 auto;
    width: 90%; }
    #wrap .page_pic {
      float: none;
      margin-left: 0;
      text-align: right; }
      #wrap .page_pic img {
        margin: 52px auto; } }
@media all and (max-width: 48em) {
  #header {
    margin-bottom: 78px; }
    #header .logos {
      position: static;
      text-align: center; }
    #header #navigation {
      position: static;
      padding-top: 26px;
      text-align: center; }
      #header #navigation a {
        -moz-transition: background 0.2s;
        -ms-transition: background 0.2s;
        -o-transition: background 0.2s;
        -webkit-transition: background 0.2s;
        transition: background 0.2s;
        background: #e1e1dc;
        border-radius: 3px;
        margin: 0 2px;
        padding: 13px 7px; }
        #header #navigation a:hover {
          background: #c9c9c1;
          top: 0; }
        #header #navigation a span {
          padding: 0; }
          #header #navigation a span:hover {
            background: none; }
          #header #navigation a span.current-nav {
            background: none; }

  #wrap .list-view .title {
    text-align: center; }
  #wrap .list-view .metadata {
    display: block;
    text-align: center; }
  #wrap .list-view .item .preview {
    clear: left; }
  #wrap .list-view img {
    max-height: 100%;
    max-width: 100%; }
  #wrap .list-view h3.recent-blogs {
    display: block;
    text-align: center; }
  #wrap .list-view a.btn[href="#"] {
    display: inline-block;
    margin: 6px 0 0 0;
    padding: 7px 0;
    text-align: center;
    width: 49%; }

  .main p, .main li {
    text-align: left; }
  .main pre span {
    font-size: 13px;
    line-height: 26px; }

  ul, ol {
    padding-left: 16px; }

  .blog h1, .blog .metadata {
    text-align: center; } }
