@import "_lib";

.page {
    p:first-child {
      margin: 26px 0 32px;
    }
    h2, h3, h4 {
      margin: 26px 0;
    }
    h2 {
        border-bottom: 1px solid silver;
        padding-bottom: 5px;
    }
}

.page {
    img {
        display: block;
        max-width: 100%;
    }
    h3 + p img {
        margin-top: 28px;
    }
    &.right {
        float: right;
        margin: 14px 0 0 52px;
        text-align: right;
    }
    &.left {
        float: left;
        margin-right: 52px;
        text-align: left;
    }
    &.top {
        text-align: right;

        img {
            margin: 52px auto;

            &.captioned {
                margin-bottom: 13px;
            }
            + .caption {
                margin-bottom: 52px;
            }
        }
    }
}

.page img {
    display: block;
    margin: 56px auto;
    max-width: 100%;
}

p.end-sect {
    margin: 0 auto;
    text-align: center;
}

.base-image .page-caption {
    margin-bottom: -39px;
}
div.page-caption {
    bottom: 39px;
    margin-bottom: -18px;
    position: relative;
    text-align: right;

    span {
        font-size: 14px;
        font-style: italic;
    }
}

.base-image img[src="/img/about.jpg"] {
    border-radius: 100%;
    max-height: 320px;
}

ul {
    padding-left: 18px;

    li {
        list-style: square;
    }
}

.blog h1 {
    font-size: 28px;
    font-weight: bold;
}

iframe {
    border: 1px solid silver;
    display: block;
    margin: 0 auto;
    width: 98%;
    height: 500px;
}
