@import "globals.scss";


.page {
    p {
        margin: 26px 0;
    }
    h2, h3, h4 {
      margin: 26px 0;
    }
    h2 {
        border-bottom:1px solid silver;
        font-size: 26px;
        padding-bottom: 5px;
    }
    h3 {
        font-size: 24px;
    }
    h4, h5, h6 {
        font-size: 18px;
    }
}

.page_pic {
    img {
        display: block;
        max-width: 100%;
    }
    &.right {
        float: right;
        margin: 11px 0 0 52px;
        text-align: right;
    }
    &.left {
        float: left;
        margin-right: 52px;
        text-align: left;
    }
    &.top {
        text-align: right;
        img {
            margin: 52px auto;
        }
    }
}

img {
    @include def-box-shadow();
    display: block;
    margin: 0 auto 39px auto;
    max-width: 100%;
}

.blurb {
    @include def-box-shadow();
    background: $light-gray;
    border-radius: 3px;
    padding: 10px 20px;
    h3 {
        display: inline-block;
        font-style: italic;
        margin: 6px 0;
    }
    img {
        clear: right;
        border-radius: 100px;
        display: inline;
        float: left;
        margin: 16px;
        position: relative;
        right: 8px;
        top: 5px;
        text-align: left;
    }
    p {
        margin-left: 12px;
        position: relative;
        right: 6px;
    }
    .social {
        float: right;
        margin-bottom: 10px;
        position: relative;
        top: 6px;
        a {
            margin: 0 4px;
            padding: 5px;
        }
        i {
            font-size: 23px;
        }
    }
}
