.page p {
  margin: 26px 0; }
.page h2, .page h3, .page h4 {
  margin: 26px 0; }
.page h2 {
  border-bottom: 1px solid silver;
  font-size: 26px;
  padding-bottom: 5px; }
.page h3 {
  font-size: 24px; }
.page h4, .page h5, .page h6 {
  font-size: 18px; }

.page_pic img {
  display: block;
  max-width: 100%; }
.page_pic.right {
  float: right;
  margin: 11px 0 0 52px;
  text-align: right; }
.page_pic.left {
  float: left;
  margin-right: 52px;
  text-align: left; }
.page_pic.top {
  text-align: right; }
  .page_pic.top img {
    margin: 52px auto; }
    .page_pic.top img.captioned {
      margin-bottom: 13px; }
    .page_pic.top img + .caption {
      margin-bottom: 52px; }

img {
  -moz-box-shadow: 0 0 2px #50505a;
  -webkit-box-shadow: 0 0 2px #50505a;
  box-shadow: 0 0 2px #50505a;
  display: block;
  margin: 0 auto 39px auto;
  max-width: 100%; }

.blurb {
  -moz-box-shadow: 0 0 2px #50505a;
  -webkit-box-shadow: 0 0 2px #50505a;
  box-shadow: 0 0 2px #50505a;
  background: #e1e1dc;
  border-radius: 3px;
  margin: 52px 0 26px;
  padding: 10px 20px; }
  .blurb h3 {
    display: inline-block;
    font-style: italic;
    margin: 6px 0; }
  .blurb img {
    clear: right;
    border-radius: 100px;
    display: inline;
    float: left;
    margin: 16px;
    position: relative;
    right: 8px;
    top: 5px;
    text-align: left; }
  .blurb p {
    margin-left: 12px;
    position: relative;
    right: 6px; }
  .blurb .social {
    float: right;
    margin-bottom: 10px;
    position: relative;
    top: 6px; }
    .blurb .social a {
      margin: 0 4px;
      padding: 5px; }
    .blurb .social i {
      font-size: 23px; }

div.page-caption {
  bottom: 26px;
  margin-bottom: -26px;
  position: relative;
  text-align: right; }
  div.page-caption span {
    font-size: 13px;
    font-style: italic; }
