@import "globals.scss";

h1 {
    color: #005454;
}

.page {
    p {
        margin-bottom: 26px;
    }
    h2, h3, h4 {
      margin: 39px 0;
    }
    margin-bottom: 92px;
}

img {
    @include img-box-shadow();
    display: block;
    max-width: 100%;
}
