#resume {
    font-size: .9em;
}
#resume h2 {
    margin-top: 1em;
    margin-bottom: 1em;
}
#resume p {
    margin-top: 1.1em;
}
#resume a {
    font-weight: normal;
}
#resume a:hover {
    font-weight: normal;
}
#resume .resume-heading {
    font-weight: bold;
}
#resume a.resume-heading:hover {
    font-weight: bold;
}
#resume .date {
    font-weight: normal;
    font-size: 15px;
    float: right;
    line-height: 1em;
}
#resume table {
    font-size: 15px;
}
#resume table tr:first-child td {
    border-top: none;
}
