#resume {
  font-size: 16px h2;
    font-size-margin: 13px 0 13px; }
  #resume p {
    margin-top: 14px; }
  #resume a {
    font-weight: normal; }
    #resume a:hover {
      font-weight: normal; }
  #resume .resume-heading, #resume a.resume-heading:hover {
    font-weight: bold; }
  #resume .date {
    float: right;
    font-size: 15px;
    font-weight: normal;
    line-height: 13px; }
  #resume table {
    font-size: 15px; }
    #resume table tr:first-child td {
      border-top: none; }
