#resume {
    font-size: 16px
    h2 {
        margin: 13px 0 13px;
    }
    p {
        margin-top: 14px;
    }
    a {
        font-weight: normal;

        &:hover {
            font-weight: normal;
        }
    }
    .resume-heading, a.resume-heading:hover {
        font-weight: bold;
    }
    .date {
        float: right;
        font-size: 15px;
        font-weight: normal;
        line-height: 13px;
    }
    table {
        font-size: 15px;

        tr:first-child td {
            border-top: none;
        }
    }
}
