#resume {
  font-size: .9em; }
  #resume h2 {
    margin-bottom: 1em;
    margin-top: 1em; }
  #resume p {
    margin-top: 1.1em; }
  #resume a {
    font-weight: normal; }
    #resume a:hover {
      font-weight: normal; }
  #resume .resume-heading, #resume a.resume-heading:hover {
    font-weight: bold; }
  #resume .date {
    float: right;
    font-weight: normal;
    font-size: 15px;
    line-height: 1em; }
  #resume table {
    font-size: 16px; }
    #resume table tr:first-child td {
      border-top: none; }
