@import "globals.scss";


#scrapbook {
    margin-bottom: 52px;
    .resize {
        @include def-box-shadow();
        img {
            width: 320px;
            height: auto;
            width: auto;
            height: 240px;
        }
    }
    a {
        display: block;
        float: left;
        height: 230px;
        overflow: hidden;
        position: relative;
        width: 188px;
        z-index: 1;
        img {
            float: left;
            position: absolute;
        }
    }
    #img1 {
        left: -20px;
        top: -10px;
    }
    #img2 {
        left: -22px;
        top: -10px;
    }
    #img3 {
        left: -25px;
        top: -10px;
    }
    #img4 {
        left: -35px;
        top: -10px;
    }
    #img5 {
        left: -15px;
        top: -10px;
    }
}
