html body pre {
  -moz-box-shadow: 0 0 2px #50505a;
  -webkit-box-shadow: 0 0 2px #50505a;
  box-shadow: 0 0 2px #50505a;
  border-radius: 3px;
  background: #505252;
  color: #fafafa;
  padding: 0 1em;
  margin-bottom: 26px;
  overflow: auto;
  /* Comment */
  /* Error */
  /* Keyword */
  /* Literal */
  /* Name */
  /* Operator */
  /* Punctuation */
  /* Comment.Multiline */
  /* Comment.Preproc */
  /* Comment.Single */
  /* Comment.Special */
  /* Generic.Emph */
  /* Generic.Strong */
  /* Keyword.Constant */
  /* Keyword.Declaration */
  /* Keyword.Namespace */
  /* Keyword.Pseudo */
  /* Keyword.Reserved */
  /* Keyword.Type */
  /* Literal.Date */
  /* Literal.Number */
  /* Literal.String */
  /* Name.Attribute */
  /* Name.Builtin */
  /* Name.Class */
  /* Name.Constant */
  /* Name.Decorator */
  /* Name.Entity */
  /* Name.Exception */
  /* Name.Function */
  /* Name.Label */
  /* Name.Namespace */
  /* Name.Other */
  /* Name.Property */
  /* Name.Tag */
  /* Name.Variable */
  /* Operator.Word */
  /* Text.Whitespace */
  /* Literal.Number.Float */
  /* Literal.Number.Hex */
  /* Literal.Number.Integer */
  /* Literal.Number.Oct */
  /* Literal.String.Backtick */
  /* Literal.String.Char */
  /* Literal.String.Doc */
  /* Literal.String.Double */
  /* Literal.String.Escape */
  /* Literal.String.Heredoc */
  /* Literal.String.Interpol */
  /* Literal.String.Other */
  /* Literal.String.Regex */
  /* Literal.String.Single */
  /* Literal.String.Symbol */
  /* Name.Builtin.Pseudo */
  /* Name.Variable.Class */
  /* Name.Variable.Global */
  /* Name.Variable.Instance */
  /* Literal.Number.Integer.Long */ }
  html body pre .hll {
    background-color: #49483e; }
  html body pre .c {
    color: #75715e; }
  html body pre .err {
    color: #960050;
    background-color: #1e0010; }
  html body pre .k {
    color: #66d9ef; }
  html body pre .l {
    color: #ae81ff; }
  html body pre .n {
    color: #f8f8f2; }
  html body pre .o {
    color: #f92672; }
  html body pre .p {
    color: #f8f8f2; }
  html body pre .cm {
    color: #9e9976; }
  html body pre .cp {
    color: #9e9976; }
  html body pre .c1 {
    color: #9e9976; }
  html body pre .cs {
    color: #9e9976; }
  html body pre .ge {
    font-style: italic; }
  html body pre .gs {
    font-weight: bold; }
  html body pre .kc {
    color: #66d9ef; }
  html body pre .kd {
    color: #66d9ef; }
  html body pre .kn {
    color: #f92672; }
  html body pre .kp {
    color: #66d9ef; }
  html body pre .kr {
    color: #66d9ef; }
  html body pre .kt {
    color: #66d9ef; }
  html body pre .ld {
    color: #e6db74; }
  html body pre .m {
    color: #ae81ff; }
  html body pre .s {
    color: #e6db74; }
  html body pre .na {
    color: #a6e22e; }
  html body pre .nb {
    color: #f8f8f2; }
  html body pre .nc {
    color: #a6e22e; }
  html body pre .no {
    color: #66d9ef; }
  html body pre .nd {
    color: #a6e22e; }
  html body pre .ni {
    color: #f8f8f2; }
  html body pre .ne {
    color: #a6e22e; }
  html body pre .nf {
    color: #a6e22e; }
  html body pre .nl {
    color: #f8f8f2; }
  html body pre .nn {
    color: #f8f8f2; }
  html body pre .nx {
    color: #a6e22e; }
  html body pre .py {
    color: #f8f8f2; }
  html body pre .nt {
    color: #f92672; }
  html body pre .nv {
    color: #f8f8f2; }
  html body pre .ow {
    color: #f92672; }
  html body pre .w {
    color: #f8f8f2; }
  html body pre .mf {
    color: #ae81ff; }
  html body pre .mh {
    color: #ae81ff; }
  html body pre .mi {
    color: #ae81ff; }
  html body pre .mo {
    color: #ae81ff; }
  html body pre .sb {
    color: #e6db74; }
  html body pre .sc {
    color: #e6db74; }
  html body pre .sd {
    color: #e6db74; }
  html body pre .s2 {
    color: #e6db74; }
  html body pre .se {
    color: #ae81ff; }
  html body pre .sh {
    color: #e6db74; }
  html body pre .si {
    color: #e6db74; }
  html body pre .sx {
    color: #e6db74; }
  html body pre .sr {
    color: #e6db74; }
  html body pre .s1 {
    color: #e6db74; }
  html body pre .ss {
    color: #e6db74; }
  html body pre .bp {
    color: #f8f8f2; }
  html body pre .vc {
    color: #f8f8f2; }
  html body pre .vg {
    color: #f8f8f2; }
  html body pre .vi {
    color: #f8f8f2; }
  html body pre .il {
    color: #ae81ff; }
