.list-view {
    .item {
        margin-bottom: 52px;
    }
    .preview {
        h1, h2, h3, img, pre, code, .demo {
            display: none;
        }
        li {
            clear: both;
        }
        p:last-child {
            display: inline;
        }
    }
    img {
        @include def-box-shadow();
        float: left;
        margin: 10px 20px 10px 0;
        max-height: 240px;
        max-width: 240px;
    }
    hr {
        clear: both;
        margin-top: 26px;
    }
}
