@import 'settings';

html
  background url(/img/bg.png)

html
body
  color #111
  font-family monospace
  padding 5px
  +desktop()
    padding 10px

a
  color #EF2D5E
  transition all .1s

  &:hover
    color #FF3D6E

html body pre[class] code[class]
  font-family monospace

.lazyload {
  opacity: 0;
  transition: opacity 500ms ease-in-out;
  &.b-loaded {
    opacity: 1;
  }
}

.social
  display flex
  justify-content center
  margin-top 40px

  a
    padding-right 15px

.posts
  list-style none
  padding-left 0
  width 100%
  +desktop()
    width auto

.postListing
  padding-bottom 5px
  padding-top 5px
  &:first-child
    padding-top 0
  +desktop()
    padding-bottom 0
    padding-top 0

.postDate
  display none
  +desktop()
    display inline-block
    text-align right
    vertical-align bottom
    width 200px

.postLink
  ellipsis()
  display inline-block
  vertical-align bottom
  width 100%
  +desktop()
    margin-left 10px
    width auto
