@import 'settings';

html
body
  background #FAFAFA
  color #111
  font-family monospace
  padding 5px
  +desktop()
    padding 10px

a
  color #EF2D5E

html body pre[class] code[class]
  font-family monospace
