@import 'settings'

html
  display flex
  justify-content center

body
  align-items center
  display flex
  flex-direction column
  width 100%
  +desktop()
    width 600px

.about
  align-items center
  display flex
  flex-direction column
  margin-bottom 10px
  +desktop()
    align-items flex-start
    flex-direction row
    justify-content flex-start
    margin-bottom 20px

.profile
  height 150px
  margin-bottom 20px
  margin-right 20px
  width 150px
  +desktop()
    margin-bottom 0

.profile img
  border-radius 100px
  height 150px
  width 150px

.basicInfo
  display flex
  flex-direction column

  h1, h2, h3
    margin-top 0
    text-align center
    +desktop()
      text-align left

.more
  text-align center

.section
  margin-top 40px
  width 100%

.emojiHeading
  display inline-block
  margin 0

.photos,
.projects
  list-style none
  padding-left 0

  li
    background-size cover
    cursor pointer
    display inline-block

  a
    display inline-block
    height 100%
    width 100%

.projects li
  height 140px
  width 140px

.photos
  li
    height 50%
    margin-bottom 10px
    width 100%
    +px700()
      height 200px
      margin-bottom 0
      width 288px
  img
    height 100%
    width 100%
