desktop() {
  @media (min-width: 600px) {
      {block}
  }
}

px700() {
  @media (min-width: 700px) {
      {block}
  }
}

ellipsis() {
  overflow hidden
  text-overflow ellipsis
  white-space nowrap
}
