html,
body{
    margin:0;
    padding:0;
    height:100%;
    background-color: rgb(238, 238, 238);
}

hr {
    border-color: rgb(220, 220, 220);
}

a {font-weight: bold;}
.main a:hover {font-weight: bold;}

.main h1 { font-size: 1.75em; line-height: 1.75em; }
.main h2 { font-size: 1.45em; line-height: 1.45em; }
.main h3 { font-size: 1.25em; line-height: 1.25em; }

.main p, .main span {
    font-size: 1.10em;
    line-height: 1.90em;
    color: rgb(65, 75, 65);
}

.main li, .main ol {
    font-size: 1.15em;
    line-height: 1.85em;
    color: rgb(95, 105, 95);
}

.container{
    min-height:100%
    position:relative;
}

#footer {
    /* Overrides sticky-footer */
    min-width:960px;
    background: rgb(200, 200, 200);
    padding-top: 15px;
    height: 115px;
    margin-top: -100px;
    text-align:center;
}
#footer a {
    color: #005454;
    text-decoration:none;
}
#footer a:hover {
    color: #2AAAAA;
}

#header{
    margin-top: 1.2em;
}
#header hr {
    margin-top: 0em;
    margin-bottom: .5em;
}

#logo{
    font-weight:bold;
    font-size:2.3em;
}
#logo a{
    text-decoration:none;
    color: #005454;
}
#logo a:hover {
    color: #2AAAAA;
}
#sublogo {
    line-height: 2.5em;
    color: grey;
}

.main {
    padding-top:10px;
    padding-bottom:350px;
}
.main a {
    color: #005454;
    text-decoration:none;
}
.main a:hover {
    color: #2AAAAA;
}
.main hr {
    margin-bottom: 1em;
}
.main p:nth-child(odd) img {
    margin-left: 15px;
    float: right;
}
.main p:nth-child(even) img {
    margin-right: 15px;
    float: left;
}

#navigation a {
    margin-left: .5em;
    text-decoration: none;
    vertical-align:middle;
}
#navigation a:hover {
    color:#2AAAAA;
}
#navigation span {
    padding:1.1em;
    padding-left: 1.6em;
    padding-right: 1.6em;
    padding-top: 1.6em;
    border-radius:8px;
    color:black;
}
#navigation span:hover {
    background:#DDDDD3;
}
#current_nav span {
    padding:1.1em;
    padding-left: 1.6em;
    padding-right: 1.6em;
    padding-top:1.6em;
    border-radius:8px;
    background:#DDDDD3;
}

p#metadata {
    line-height: 1.0em;
    font-size: 1.03em;
    color: #808080;
    font-weight: bold;
    margin-bottom: 2em;
}

.base-image img {
    margin-bottom: 5px;
    max-height: 480px;
}
.base-image span {
    font-size: .9em;
    font-style: italic;
}

.page li {
    list-style: square;
}
h1#page-header {
    display: inline;
    line-height: 1.2em;
}

.page_pic {
    margin-bottom: 20px;
}
.page_pic img {
    display: block;
    max-width: 100%;
}
.page_pic.right {
    float: right;
    margin-left: 20px;
    text-align: right;
}
.page_pic.left {
    float: left;
    margin-right: 20px;
    text-align: left;
}
.page_pic.top {
    text-align: right;
}
.page_pic.top img {
    margin-bottom: 5px;
}
.page_pic img {
    margin-top: 5px;
    display: block;
}

.sliding-index {
    min-height: 1050px;
    max-height: 1050px;
}
#sliding-all a {
    color: black;
    font-weight: normal;
}
