html,
body{
    margin:0;
    padding:0;
    height:100%
}
.main h1 { font-size: 2.0em; margin-bottom:5px;}
.main h2 { font-size: 1.6em; margin-bottom:5px;}
.main h3 { font-size: 1.3em; }
.main h4 { font-size: 1.0em; }
.main h5 {
    font-size: 1.0em;
    font-weight: normal;
    color: #AAA;
}
.main h6 {
    font-size: 0.8em;
    font-weight: normal;
    color: #AAA;
}

.container{
    min-height:100%
    position:relative;
}

#footer
{
    /* Overrides sticky-footer */
    min-width:960px;
    background: #DDDDD3; 
    padding-top: 10px;
    height: 80px;
    margin-top: -80px;
}
#footer{
    text-align:center;
}
#footer a {
    color: #005454;
    text-decoration:none;
}
#footer a:hover {
    color: #2AAAAA;
}

#header{
    margin-top: 1.2em;
}

#logo{
    font-weight:bold;
    font-size:2.3em;
}
#logo a{
    text-decoration:none;
    color: #005454;
}
#logo a:hover {
    color: #2AAAAA;
}
#sublogo {
    line-height: 2.5em;
    color: grey;
}

#main {
    padding-top:10px;
    padding-bottom:150px;
}
#main a {
    color: #005454;
    text-decoration:none;
}
#main a:hover {
    color: #2AAAAA;
}
#main hr {
    margin-top: 0em;
    margin-bottom: 1em;
}
#main p:nth-child(odd) img {
    margin-left: 15px;
    float: right;
}
#main p:nth-child(even) img {
    margin-right: 15px;
    float: left;
}

#navigation a {
    text-decoration: none;
    vertical-align:middle;
}
#navigation a:hover {
    color:#2AAAAA;
}
#navigation span {
    padding:14px;
    border-radius:8px;
    color:black;
}
#navigation span:hover {
    background:#DDDDD3;
}

.page {
    margin-top: 10px;
}
.page_pic {
    margin-bottom: 20px;
}
.page_pic img {
    display: block;
    max-width: 100%;
}
.page_pic.right {
    float: right;
    margin-left: 20px;
    text-align: right;
}
.page_pic.left {
    float: left;
    margin-right: 20px;
    text-align: left;
}
.page_pic.top {
    text-align: right;
}
.page_pic.top img {
    margin-bottom: 5px;
}
.page_pic img {
    margin-top: 5px;
    display: block;
}
.base-image img {
    margin-bottom: 5px;
    max-height: 480px;
}

.sliding-index {
    min-height: 400px;
    max-height: 400px;
}
#sliding-all a {
    color: black;
    font-weight: normal;
}
