.big-index-heading {
    margin-top: 1.0em;
}

.big-index-title {
    line-height: 1.30em;
}

.big-index img {
    float: left;
    margin-top:.58em;
    margin-right: 1.2em;
    margin-bottom: 1.2em;
    max-width: 210px;
    max-height: 210px;
}
#home .big-index img {
    margin-top: -.5em;
}

.big-index pre, .big-index code {
    display: none;
}

.big-index-item hr {
    margin-top: 2em;
}

.big-index-post {
    margin-top: -1.15em;
}
.big-index-post h1, .big-index-post h2 {
    display: none;
}
.big-index-post img {
    display: none;
}
.big-index-post {
    font-size: .9em;
}
.big-index-post li {
    margin-left: 14.7em;
}

.paging {
    margin-bottom: 1.4em;
}

