.view i {
    font-size: 128px;

    display: inline-block;
    position:relative;
    top: 50%;
}

.view {
    width: 205px;
    height: 205px;

    text-align: center;

    border: 7px solid #DDDDD3;
    box-shadow: 1px 1px 2px rgb(190, 190, 190);

    overflow: hidden;

    background: rgb(245, 245, 245);
}

.mask {
    opacity: 0;

    position: relative;
    top: -18px;

    width:205px;
    height:205px;

    background-color: rgba(150,200,150, 0.7);

    overflow: hidden;
}
.mask h3 {
    color: white;
    background: rgba(0, 0, 0, 0.8);
}
.mask p {
    color: white;
}

.mask:hover {
    -moz-transition: opacity .2s linear;
    opacity: 100;
}
