.view i {
    font-size: 128px;

    position:relative;
    top: 50%;
}

.view {
    width: 205px;
    height: 205px;

    text-align: center;

    border: 7px solid #DDDDD3;

    overflow: hidden;

    background: rgb(245, 245, 245);
}

.mask {
    overflow: hidden;

    position: relative;
    top: 50%;
}
/*.mask h3 {
    -moz-transform: translateX(100px);
}
.mask p {
    -moz-transform: translateX(400px);
    -moz-transform: translateY(50px);
}*/

