<!doctype html>
<html ng-app="HotChatPhoneBillApp">
  <head>
    <title>Hot Chat Phone Bill</title>
    <script src="../lib/js/angular.min.js"></script>
    <script src="app.js"></script>
    <link rel="stylesheet" href="../lib/css/bootstrap.min.css">
    <link rel="stylesheet" href="../lib/css/shoehorn.css">
  </head>
  <body ng-controller="HotChatPhoneBillCtrl">
    <h1>Hot Chat Phone Bill</h1>
    <dl>
      <dt>ID</dt> <dd>{{ 'oskpmknz' | uppercase }}</dd>
      <dt>Date</dt> <dd>{{ billDate | date:'medium' }}</dd>
      <dt>Charge Amount</dt> <dd>{{ 199.98 | currency }}</dd>
    </dl>

    <h2>Transactions</h2>
    <table class="table table-bordered table-condensed table-striped">
      <thead>
        <tr>
          <th ng-click="orderby = 'operator'; reverse = false"><a>Operator</a></th>
          <th ng-click="orderby = 'minutes'; reverse = true"><a>Minutes</a></th>
        </tr>
      </thead>
      <tbody ng-init="orderby = 'minutes'; reverse = true">
        <tr ng-repeat="call in calls | orderBy:(orderby):reverse">
          <td>{{ call.operator }}</td>
          <td>{{ call.minutes }}</td>
        </tr>
      </tbody>
    </table>
  </body>
</html>
