{% capture root_url %}{{ site.root | strip_slash }}{% endcapture %}
{% include head.html %}

<body>
  <div id="wrap">
    <div id="header">
      <div class="logos">
        <h1 id="logo">
          <a href='/'>ngo<strong>kevin</strong></a>
          <span class="social">
            <a href="mailto:me@ngokevin.com"><i class="icon-envelope"></i></a>
            <a href="http://twitter.com/ngokevin_"><i class="icon-twitter-sign"></i></a>
            <a href="http://github.com/ngokevin"><i class="icon-github-sign"></i></a>
          </span>
        </h1>
        <span id="sublogo">web developer at mozilla</span>
      </div>

      <div id="navigation">{% include navigation.html %}</div>
    </div>

    <div class="main">
      <div class="header-group"><h1>{{ page.title }}</div>

      <div class="base-image">
        {% if page.image %}
          <div class="page_pic">
            <img{% if page.caption %} class="captioned"{% endif %} src="{{ page.image }}">
            {% if page.caption %}
              <div class="page-caption">
                <span>{{ page.caption }}</span>
              </div>
            {% endif %}
          </div>
        {% endif %}
      </div>

      {{ content }}
    </div>
  </div>

  <div id="footer">
    <a href="mailto:me@ngokevin.com"><i class="icon-envelope"></i></a>
    <a href="http://twitter.com/ngokevin_"><i class="icon-twitter-sign"></i></a>
    <a href="http://github.com/ngokevin"><i class="icon-github-sign"></i></a>
  </div>
</body>
</html>
