<div class="item c">
  <div class="header-group">
    <h2 class="title"><a href="{{ item.url }}">{{ item.title }}</a></h2>
    <span class="metadata">
      {% if item.datetime %}
        {{ item.datetime.strftime("%A %B %d, %Y") }}
      {% endif %}
    </span>
  </div>

  {% if item.image %}<img src="{{ item.image.url }}"/>{% endif %}

  <div class="preview">
    <span>
      {% if item.preview %}
        {{ item.preview }}
      {% else %}
        {{ item.content|truncate(length=1200) }}
      {% endif %}
      </pre>
      </code>
    </span>
    <a class="more-link" href="{{ item.url }}">more</a>
  </div>
</div>
