{% extends "default.html" %}

{% block content %}

    <link rel="stylesheet" type="text/css" href="/stylesheets/album.css" />
    <script type="text/javascript" src="/javascripts/utilities.js" ></script>

    <!--Bind album image srcs to DOM-->
    <span id="srcs" style="display:none">{{ site.srcs }}</span>
    <span id="thumb_srcs" style="display:none">{{ site.thumb_srcs }}</span>

    <!--Bind album image sizes to DOM-->
    <span id="sizes" style="display:none">{{ site.sizes }}</span>
    <span id="thumb_sizes" style="display:none">{{ site.thumb_sizes }}</span>

    <h1 id="page-header">{{ page.title }}</h1>
    {{page.content}}

    <div id="album" class="container">
        <script type="text/javascript" src="/javascripts/libraries/jquery-1.7.1.min.js" ></script>
        <script type="text/javascript" src="/javascripts/libraries/underscore-min.js" ></script>
        <script type="text/javascript" src="/javascripts/libraries/backbone-min.js" ></script>
        <script type="text/javascript" src="/javascripts/libraries/spin.min.js" ></script>
        <script type="text/javascript" src="/javascripts/album.js" ></script>
    </div>

    <span class="arrow-down"></span>

    <span id="spin" style="display:none";>
    </span>

{% endblock %}

