{% extends "default.html" %}

{% block content %}

    <link rel="stylesheet" type="text/css" href="/stylesheets/album.css" />
    <script type="text/javascript" src="/javascripts/utilities.js" ></script>

    <!--Bind album image srcs to DOM-->
    {% for src in site.album_image_srcs %}
        <span class="src" style="display:none">{{src}}</span>
    {% endfor %}

    <!--Bind album image sizes to DOM-->
    {% for size in site.album_image_sizes %}
        <span class="size" style="display:none">{{size}}</span>
    {% endfor %}

    <h2>{{ page.title }}</h2>
    {{page.content}}

    <div id="album" class="container">
        <script type="text/javascript" src="/javascripts/libraries/jquery-1.7.1.min.js" ></script>
        <script type="text/javascript" src="/javascripts/libraries/underscore-min.js" ></script>
        <script type="text/javascript" src="/javascripts/libraries/backbone-min.js" ></script>
        <script type="text/javascript" src="/javascripts/libraries/spin.min.js" ></script>
        <script type="text/javascript" src="/javascripts/album.js" ></script>
    </div>

    <span id="load_msg">
        <div class="arrow-down"></div>
    </span>

    <div id="spin" style="display:none";>
    </div>

{% endblock %}

