{% extends "default.html" %}

{% block content %}

    <link rel="stylesheet" type="text/css" href="/stylesheets/album.css" />
    <script type="text/javascript" src="/javascripts/utilities.js" ></script>

    <!--Allows Javascript to access the image paths-->
    {% for image in site.album_images %}
        <span class="album-image" style="display:none">{{ image }}</span>
    {% endfor %}

    <h2>{{ page.title }}</h2>
    {{page.content}}

    <div id="album" class="container">
        <script type="text/javascript" src="/javascripts/spin.min.js" ></script>
        <script type="text/javascript" src="/javascripts/album.js" ></script>
    </div>

    <span id="load_msg">
        <div class="arrow-down"></div>
    </span>

    <div id="spin" style="display:none";>
    </div>

{% endblock %}

