<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhml"
      xmlns:fb="http://ogp.me/ns/fb#"
      xml:lang="en" lang="en">

  <head>
    <title>{{ site.title }} | {{ page.title }}</title>
    <link rel="stylesheet" type="text/css" href="/css/bundle.css" />
    <link href='http://fonts.googleapis.com/css?family=Ubuntu:400,500,700' rel='stylesheet' type='text/css'>
    <link rel="icon" type="image/x-icon" href="/img/favicon.ico?v=5"/>
    <meta name="viewport" content="width=device-width">
    {% block extrahead %}{% endblock %}
  </head>

  <body>
    <div id="wrap" class="c">
      <header>
        <div class="logos">
          <h1 id="logo">
            <a href='/'>ngo<strong>kevin</strong></a>
            <span class="social">
              <a href="mailto:me@ngokevin.com"><i class="fa fa-envelope"></i></a>
              <a href="http://twitter.com/ngokevin_"><i class="fa fa-twitter-square"></i></a>
              <a href="http://github.com/ngokevin"><i class="fa fa-github-square"></i></a>
              <a type="application/rss+xml" href="/rss"><i class="fa fa-rss-square"></i></a>
            </span>
          </h1>
          <span id="sublogo">virtual reality developer at mozilla</span>
          <ul class="blog-tags">
            {% for _page in site.categories['blog-tag'] | sort(attribute='weight') %}
              <li>
                <a href="{{ _page.url }}"
                   {% if _page.url == page.url %} class="active"{% endif %}>
                  {{ _page.title }}</a>
              </li>
            {% endfor %}
          </ul>
        </div>

        <nav>
          {% for _page in site.tags['navigation'] | sort(attribute='weight') %}
            <a href="{{ _page.url }}">
              <span{% if _page.type == page.type %} class="active"{% endif %}>
                {{ _page.title }}</span>
            </a>
          {% endfor %}
        </nav>
      </header>

      <div class="main">
        <div class="header-group">{% block page_header %}{% endblock %}</div>

        <div class="base-image">
          {% if page.image %}
            <div class="page_pic {{ page.image.where }}">
              <img{% if page.image.caption %} class="captioned"{% endif %} src="{{ page.image.url }}">
              {% if page.image.caption %}<div class="page-caption"><span>{{ page.image.caption }}</span></div>{% endif %}
            </div>
          {% endif %}
        </div>

        {% block content %}
        {% endblock %}
      </div>
    </div>

    <div id="footer">
      <a href="mailto:me@ngokevin.com"><i class="fa fa-envelope"></i></a>
      <a href="http://twitter.com/ngokevin_"><i class="fa fa-twitter-square"></i></a>
      <a href="http://github.com/ngokevin"><i class="fa fa-github-square"></i></a>
      <a type="application/rss+xml" href="/rss/index.xml"><i class="fa fa-rss-square"></i></a>
    </div>

    {% include "includes/google_analytics.html" %}
  </body>
</html>
