{% extends "base.html" %}

{% block content %}
  <div class="list-view">
    {% for item in pagination.page_items %}
      <!-- List item. -->
      <div class="item c">
        <div class="header-group">
          <h2 class="title"><a href="{{ item.url }}">{{ item.title }}</a></h2>
          <p class="metadata">
            {% if item.datetime %}
              {{ item.datetime.strftime("%A %B %d, %Y") }}
            {% endif %}
          </p>
        </div>

        {% if item.image %}<img src="{{ item.image.url }}">{% endif %}

        <div class="preview">
          <span>
            {% if item.preview %}
              {{ item.preview }}
            {% else %}
              {{ item.content|truncate(length=1200) }}
            {% endif %}
            </pre></code>
          </span>
          <a class="more-link" href="{{ item.url }}">&raquo;</a>
        </div>
      </div>
      <!-- End list item. -->
    {% endfor %}
  </div>

  <div class="pagination c">
    {% if page.pagination %}
      {% if page.pagination.next_page %}
        <a class="prev btn" href="{{ page.pagination.next_page.url }}" title="View Older Posts">
          &laquo; Dustier</a>
      {% endif %}
      {% if page.pagination.prev_page %}
        <a class="next btn" href="{{ page.pagination.prev_page.url }}" title="View Newer Posts">
          Fresher &raquo;</a>
      {% endif %}
    {% endif %}
  </div>
{% endblock %}
