{% extends "base.html" %}

{% block extrahead %}
  <link rel="stylesheet" type="text/css" href="/css/page.css" />
{% endblock %}

{% block page_header %}
  <div class="blog">
    <h1>{{ page.title }}</h1>

    <p class="metadata">
      {% if not page.navrank %}
        {{ page.datetime.strftime("%A %B %d, %Y") }}
      {% endif %}
    </p>
  </div>

  {% include "includes/top_share.html" %}
{% endblock %}

{% block content %}
  <div class="page c">
    {{ page.content }}
  </div>

  {% include "includes/end_sect.html" %}
  {% include "includes/bottom_share.html" %}
  {% include "includes/disqus.html" %}
{% endblock %}
