{% extends "base.html" %}

{% block content %}
    <link rel="stylesheet" type="text/css" href="/stylesheets/contact.css" />

    <h1 id="page-header">{{ page.title }}</h1>

    <br/><br/>
    <div class="container">
        <div class="row">

            <div class="span4 view">
                <i class="icon-envelope"></i>
                <div class="mask">
                    <h3>email</h3>
                    <p>ngoke@onid.oregonstate.edu</p>
                </div>
            </div>

            <div class="span4 view">
                <i class="icon-comments"></i>
                <div class="mask">
                    <h3>irc</h3>
                    <p>ngoke on irc.freenode.net<p/>
                </div>
            </div>

            <div class="span4 view">
                <i class="extended icon-github-sign"></i>
                <div class="mask">
                    <h3>github</h3>
                    <p>github.com/ngokevin</p>
                </div>
            </div>

            <div class="span4 view">
                <i class="extended icon-linkedin-sign"></i>
                <div class="mask">
                    <h3>linkedin</h3>
                    <p>http://www.linkedin.com/pub/kevin-ngo/42/576/b5a</p>
                </div>
            </div>

        </div>
    </div>

{% endblock %}
