{% extends "default.html" %}

{% block content %}

    <link rel="stylesheet" type="text/css" href="/stylesheets/gallery.css" />
    <script type="text/javascript" src="/javascripts/utilities.js" ></script>
    <h2>{{ page.title }}</h2>

    {% for album in site.categories['gallery'] | sort(attribute='datetime', reverse=True) %}
        <!--Allow JavaScript to access the slugs-->
        <div class="album-info">
            <span id="album-slug" style="display:none;">{{ album.slug }}</span>
            <span id="album-title" style="display:none;">{{ album.title}}</span>
            <div id="album-images" style="display:none">
                {% for image in site['albums'][album.slug] %}
                    <span id="album-image">{{site['albums'][album.slug][loop.index0]}}</span>
                {% endfor %}
            </div>
        </div>
    {% endfor %}

    <div id="gallery">
        <script type="text/javascript" src="/javascripts/gallery.js" ></script>
    </div>

{% endblock %}

