{% extends "default.html" %}

{% block extrahead %}{% endblock %}

{% block page_header %}
  <h1>{{ page.title }}</h1>
{% endblock %}

{% block content %}
  <link rel="stylesheet" type="text/css" href="/css/gallery.css" />
  <script type="text/javascript" src="/js/utilities.js" ></script>

  {% for album in site.categories['gallery'] | sort(attribute='datetime', reverse=True) %}
    <div class="album-info">
      <span class="album-slug" style="display:none;">{{ album.slug }}</span>
      <span class="album-title" style="display:none;">{{ album.title}}</span>
      <div class="album-images" style="display:none">
        {% for image in site['albums'][album.slug] %}
          <span>{{site['albums'][album.slug][loop.index0]}}</span>
        {% endfor %}
      </div>
    </div>
  {% endfor %}

  <div id="gallery">
    <script type="text/javascript" src="/js/lib/jquery-1.7.1.min.js" ></script>
    <script type="text/javascript" src="/js/gallery.js" ></script>
  </div>
{% endblock %}

