{% extends "base.html" %}

{% block content %}
  <link rel="stylesheet" type="text/css" href="/css/scrapbook.css" />
  <link rel="stylesheet" type="text/css" href="/css/list-view.css" />

  <div id="scrapbook">
    <div class="resize">
       <a href="#"><img id="img1" src="/img/skate.jpg"/></a>
       <a href="#"><img id="img2" src="/img/sanfran.jpg"/></a>
       <a href="#"><img id="img4" src="/img/terminal.jpg"/></a>
       <a href="#"><img id="img3" src="/img/ocean.jpg"/></a>
       <a href="#"><img id="img5" src="/img/basketball.jpg"/></a>
     </div>
  </div>

  <!--Blog Posts-->
  <div class="list-view">
    <div class="header-group">
      <h3 class="recent-blogs">Recent Blogs</h3>
      <!--Graceful degradation for non-js enabled browsers-->
      <noscript><div style="display:none;"</noscript>
        <a href="#" class="btn" id="sliding-prev-page">Prev</a>
        <a href="#" class="btn" id="sliding-next-page">Next</a>
      <noscript></div></noscript>
    </div>

    <div class="sliding-index">
      {% for item in site.categories['blog'] | sort(attribute='datetime', reverse=True) %}
        {% if loop.index <= pagination.post_limit %}
          <div class="sliding-index-page{{ loop.index0 // pagination.limit }}">
            {% include "includes/list_view_item.html" %}
          </div>
        {% endif %}
      {% endfor %}
    </div>
  </div>
  <!--End Blog Posts-->

  <script type="text/javascript" src="/js/libraries/jquery-1.7.1.min.js" ></script>
  <script type="text/javascript" src="/js/libraries/jquery-ui-1.8.16.custom.min.js"></script>
  <script type="text/javascript" src="/js/sliding-paginator-thing.js" ></script>
{% endblock %}
