{% extends "base.html" %}

{% block content %}
  <link rel="stylesheet" type="text/css" href="/css/list.css" />

  <!--Blog Posts-->
  <div class="list-view c">
    <div class="header-group">
      <h3 class="recent-blogs">Recent Blogs</h3>
      <!--Graceful degradation for non-js enabled browsers-->
      <noscript><div style="display:none;"</noscript>
        <a href="#" class="btn" id="sliding-prev-page">Fresh</a>
        <a href="#" class="btn" id="sliding-next-page">Dusty</a>
      <noscript></div></noscript>
    </div>

    <div class="sliding-index">
      {% for item in site.categories['blog'] | sort(attribute='datetime', reverse=True) %}
        {% if loop.index <= pagination.post_limit %}
          <div class="sliding-index-page{{ loop.index0 // pagination.limit }}">
            {% include "includes/list_view_item.html" %}
          </div>
        {% endif %}
      {% endfor %}
    </div>
  </div>
  <!--End Blog Posts-->

  <script type="text/javascript" src="/js/lib/jquery-1.7.1.min.js" ></script>
  <script type="text/javascript" src="/js/lib/jquery-ui-1.8.16.custom.min.js"></script>
  <script type="text/javascript" src="/js/sliding-paginator-thing.js" ></script>
{% endblock %}
