{% extends "base.html" %}

{% block content %}
<link rel="stylesheet" type="text/css" href="/stylesheets/scrapbook.css" />
<link rel="stylesheet" type="text/css" href="/stylesheets/list-view.css" />

<div id="scrapbook">
    <div class="container">
        <div class="row">
            <div class="span16">
               <div class="resize">
                   <a href="#"><img id="img1" src="/images/skate.jpg"/></a>
                   <a href="#"><img id="img2" src="/images/sanfran.jpg"/></a>
                   <a href="#"><img id="img4" src="/images/skydive.jpg"/></a>
                   <a href="#"><img id="img3" src="/images/ocean.jpg"/></a>
                   <a href="#"><img id="img5" src="/images/basketball.jpg"/></a>
               </div>
            </div>
        </div>
    </div>
</div>
<br/>
<hr/>

<!--Blog Posts-->
<div id="home" class="span16 columns" style="margin-left:0px">

    <div class="list-view">

        <h3 style="display:inline; font-size:1.3em;">Recent Blogs</h3>&nbsp;&nbsp;
        <form method="link" action="/blog/" style="display:inline;">
            <button class="btn success" id="sliding-all"><a href="/blog">All</a></button>
        </form>

        <!--Graceful degradation for non-js enabled browsers-->
        <noscript><div style="display:none;"</noscript>
            <button href="#" class="btn small" id="sliding-prev-page">Prev</button>
            <button href="#" class="btn small" id="sliding-next-page">Next</button>
        <noscript></div></noscript>

        <br/>
        <br/>
        <div class="sliding-index">
            {% for blog in site.categories['blog'] | sort(attribute='datetime', reverse=True) %}
                {% if loop.index <= pagination.post_limit %}

                    <div class="sliding-index-page{{ loop.index0 // pagination.limit }}">

                        <!--Header Group-->
                        <h2 class="title"><a href="{{blog.url}}">{{ blog.title }}</a></h2>
                        <p id="metadata">
                            {% if blog.datetime %}
                                {{ blog.datetime.strftime("%A %B %d, %Y") }}
                            {% endif %}
                        </p >
                        <!--End Header Group-->

                        <!--Blog Image-->
                        {% if blog.image %}
                            <img src="{{blog.image.url}}"/>
                        {% endif %}
                        <!--End Blog Image-->

                        <!--Blog Preview Post-->
                        <div class="preview">
                            <span>
                                {% if blog.preview %}
                                    {{blog.preview}}
                                {% else %}
                                    {{blog.content|truncate(length=1200)}}
                                {% endif %}
                                </pre>
                                </code>
                            </span>
                            <a href="{{blog.url}}">more</a>
                        </div>
                        <!--End Blog Preview Post-->

                        {% if not loop.last%}
                            <hr style="margin-top:2em;"/>
                        {% endif %}

                        <div style="clear:both;"></div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
</div>
<!--End Blog Posts-->

<script type="text/javascript" src="/javascripts/libraries/jquery-1.7.1.min.js" ></script>
<script type="text/javascript" src="/javascripts/libraries/jquery-ui-1.8.16.custom.min.js"></script>
<script type="text/javascript" src="/javascripts/sliding-paginator-thing.js" ></script>

{% endblock %}
