{% extends "base.html" %}

{% block content %}

<head>
    <title>Home | Kevin Ngo</title>
</head>

<div id="scrapbook">
    <div class="container">
        <div class="row">
            <div class="span16">
               <div class="resize">
                   <a href="#"><img id="img1" src="/images/skate.jpg"/></a>
                   <a href="#"><img id="img2" src="/images/climb.jpg"/></a>
                   <a href="#"><img id="img3" src="/images/ocean.jpg"/></a>
                   <a href="#"><img id="img4" src="/images/cave.jpg"/></a>
                   <a href="#"><img id="img5" src="/images/basketball.jpg"/></a>
               </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
