{% extends "base.html" %}

{# Set defaults #}
{% set min_height = 150 %}
{% set char_limit = 300 %}

{% if page.index %}
  {% if page.index.height %}
    {% set min_height = page.index.height %}
  {% endif %}
  {% if page.index.char_limit %}
    {% set char_limit = page.index.char_limit %}
  {% endif %}
  {% if page.index.char_limit %}
    {% set char_limit = page.index.char_limit %}
  {% endif %}
{% endif %}

{% block page_header %}
  <h1>{{ page.title }}</h1>

  <div class="pagination">
    {% if page.pagination %}
      {% if page.pagination.prev_page %}
        <a href="{{ page.pagination.prev_page.url }}">Previous Page</a> |
      {% endif %}
      Page {{ page.pagination.cur_page }} of {{ page.pagination.num_pages }}
      {% if page.pagination.next_page %}
        | <a href="{{ page.pagination.next_page.url }}">Next Page</a>
      {% endif %}
    {% endif %}
  </div>
{% endblock %}

{% block content %}
  <link rel="stylesheet" type="text/css" href="/css/list-view.css" />

  <div class="list-view">
    {% for item in pagination.page_items %}
      {% include "includes/list_view_item.html" %}
    {% endfor %}
  </div>
{% endblock %}
