---
layout: default
title: "Write"
navrank: 2
---

<div class="list-view">
  {% for post in paginator.posts %}
    <!-- List item. -->
    <div class="item c">
      <div class="header-group">
        <h2 class="title"><a href="{{ post.url }}">{{ post.title }}</a></h2>
        <p class="metadata">{{ post.date | date: "%A %B %d, %Y" }}</p>
      </div>

      {% if post.image %}<img src="{{ post.image }}">{% endif %}

      <div class="preview">
        <span>{{ post.content | excerpt }}</span>
        <a class="more-link" href="{{ post.url }}">&raquo;</a>
      </div>
    </div>
    <!-- End list item. -->
  {% endfor %}
</div>

<div class="pagination c">
  {% if paginator.next_page %}
    <a class="prev btn" href="{{ paginator.next_page }}" title="View Older Posts">
      &laquo; Dustier</a>
  {% endif %}
  {% if paginator.prev_page %}
    <a class="next btn" href="{{ paginator.prev_page }}" title="View Newer Posts">
      Fresher &raquo;</a>
  {% endif %}
</div>
